# Ignore the virtual environment folder
venv/
Code/venv/

# Ignore large model files
*.pt
*.pth
*.bin

# Ignore Python cache files (generated automatically)
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore log files
*.log
# Ignore dataset files
data/
data_raw/

# Ignore system files
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/

# Ignore output folders
output/
results/
plots/
figures/

